	{% load static %}
   <footer>
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4 col-md-6">
        <h3>Site Map</h3>
        <ul class="list-unstyled three-column">
          <li>Home</li>
          <li>Services</li>
          <li>About</li>
          <li>Code</li>
          <li>Design</li>
          <li>Host</li>
          <li>Contact</li>
          <li>Company</li>
        </ul>
        <ul class="list-unstyled socila-list">
          <li><img src="{% static 'images/facebook.png'%}" alt="" /></li>
          <li><img src="{% static 'images/twitter.png'%}" alt="" /></li>
          <li><img src="{% static 'images/instagram.png'%}" alt="" /></li>
          <li><img src="{% static 'images/github.png'%}" alt="" /></li>
          <li><img src="{% static 'images/google-plus.png'%}" alt="" /></li>
          <li><img src="{% static 'images/pinterest.png'%}" alt="" /></li>
        </ul>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <h3>ConnectWithUs</h3>
        <div class="media">
          <a href="#" class="pull-left">
            <img src="{% static 'images/gmail.png' %}" alt="" class="media-object" />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Gmail</h4>
            <p>Example@mail.com</p>
          </div>
        </div>
        
        <div class="media">
          <a href="#" class="pull-left">
            <img src="{% static 'images/yahoo.png' %}" alt="" class="media-object" />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Ymail</h4>
            <p>Example@mail.com</p>
          </div>
        </div>
        
 
        
      </div>
      
      <div class="col-lg-4">
        <h3>Our Team</h3>
        <img class="img-thumbnail" src="{% static 'images/team1.jpg' %}" alt="" />
        <img class="img-thumbnail" src="http://placehold.it/150x193" alt="" />


      </div>
      
    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; 2019 <span>Smart learning</span>
  </div>
</footer>